html, body {
      height: 100%;
      width:100%;
      max-width:100%;
      margin: 0;
      font-family: Roboto, sans-serif;
      color: #0f3c4b;
      background-color: #e5edf1;
      overflow: hidden;
}
  
a{
  transition: color 0.2s ease, border-bottom-color 0.2s ease;
  border-bottom: dotted 1px;
  color: inherit;
  text-decoration: none;
}

.hidden{
  display:none !important;
}