html, body {
      height: 100%;
      width:100%;
      max-width:100%;
      margin: 0;
      font-family: Roboto, sans-serif;
      color: #0f3c4b;
      background-color: #e5edf1;
}
  
a{
  transition: color 0.2s ease, border-bottom-color 0.2s ease;
  border-bottom: dotted 1px;
  color: inherit;
  text-decoration: none;
}

.hidden{
  display:none !important;
}

i{
  width: 32px;
  height: 32px;
  background-image: url('/pics.png');
  display: inline-block;
}
.github{background-position: 0 0;}
.home{background-position: 0 -64px;}
.questions{background-position: -32px -64px;}
.edit{background-position: -32px -32px;}
.photo{background-position: 0 -32px;}
.io{background-position: 0px -96px;}
.show{background-position: -96px -32px;}
.hide{background-position: -96px 0;}
.online{background-position: -64px -32px;}
.offline{background-position: -64px -64px;}
.saveCloud{background-position: -96px -64px;}